<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Room Design</title>
    <link rel="stylesheet" href="/css/edit.css" />
  </head>
  <body>
    <h2>Edit Room</h2>

    <div>
      <h3><%= room.name %></h3>
      <img src=" <%= room.img %> " />

      <form action="/roomsC/<%=room.id%>?_method=PUT" method="POST">
        <label> Name: </label>
        <input type="text" name="name" value="<%=room.name%>" />
        <label> Image Source: </label>
        <input type="text" name="img" value="<%=room.img%>" />
        <input type="submit" name="" value="Edit Room" />
      </form>
    </div>

    <!-- <br /><br /> -->
    <nav>
      <a href="/roomsC/"> <h4>Back to Rooms</h4> </a> &nbsp; &nbsp;
      <a href="/"> <h4>Homepage</h4> </a>
    </nav>
  </body>
</html>
