<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Design Items</title>
    <link rel="stylesheet" href="/css/itemIndex.css" />
  </head>

  <body>
    <h2>Design Items</h2>
    <div class="wrapperDiv">
      <header class="grid-item">
        <nav>
          <ul>
            <li>
              <h4><a href="/roomsC"> Back to Rooms </a></h4>
            </li>
            <li>
              <h4><a href="/"> Homepage </a></h4>
            </li>
          </ul>
        </nav>
      </header>
    </div>
     <nav>
      <a href="/roomsC"> <h4>Back to Rooms</h4> </a> &nbsp; &nbsp;
      <a href="/"> <h4>Homepage</h4> </a>
    </nav>

    <div>
      <!-- <ul class="items"></ul> -->

<table>
  <tr>
    <td title="Sofa"> <h3>Sofa</h3>

<!-- placeMeInRoom -->
<% 
 function placeMeInRoom(url) {
  console.log("sofa clicked");
   window.location = url;
   //window.open = url;

}; %>

      <% for(let i=0; i<items.length; i++) { %>
        <!-- <li> -->
            <h4> <a href="/itemsC/<%=id%>/design">  </h4> 
            <img src="<%= items[i].sofa_img%>" class = "allSofaImg"alt="" /> </a>


        <!-- </li> -->
    <% } %>
    </td> 
    <td> <h3>Chair</h3>

      <% for(let i=0; i<items.length; i++) { %>
        <!-- <li> -->
            <h4> <a href="/itemsC/<%=id%>/design">  </h4>
            <img src="<%= items[i].chair_img%>" class = "imgAll" alt="" /> </a> 
        <!-- </li> -->
    <% } %>
    </td>
    <td> <h3>SideTable</h3>
      <% for(let i=0; i<items.length; i++) { %>
        <!-- <li> -->
            <h4> <a href="/itemsC/<%=id%>/design">  </h4>
            <img src="<%= items[i].stable_img%>" alt="" /> </a> 
        <!-- </li> -->
    <% } %>
    </td> 
    <td> <h3>CoffeeTable</h3>
      <% for(let i=0; i<items.length; i++) { %>
        <!-- <li> -->
            <h4> <a href="/itemsC/<%=id%>/design">  </h4>
            <img src="<%= items[i].ctable_img%>" alt="" /> </a> 
        <!-- </li> -->
    <% } %>
    </td> 
    <td><h3>Carpet</h3>
    <% for(let i=0; i<items.length; i++) { %>
      <!-- <li> -->
          <h4>  <a href="/itemsC/<%=id%>/design">  </h4>
          <img src="<%= items[i].carpet_img%>" alt="" /> </a> 
      <!-- </li> -->
  <% } %>
  </td>
   <td><h3>Painting</h3>
    <% for(let i=0; i<items.length; i++) { %>
      <!-- <li> -->
          <h4> <a href="/itemsC/<%=id%>/design">  </h4>
          <img src="<%= items[i].painting_img%>" alt="" /> </a> 
      <!-- </li> -->
  <% } %>
   </td>
  </tr>
</table>

<!-- </ul> -->
</div>
<script src="/js/script.js"></script>
    </body>
</html>


<!-- % 
//console.log("sofa [i]", items[i].sofa_img);
 function placeMeInRoom() {
  console.log("sofa clicked", items[i].sofa_img);
   //window.location.href = this.id + '.ejs'; 
   // window.location = url;
   //onClick="placeMeInRoom('../users/design.ejs')"

}; %> -->