<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/roomIndex.css" />
  </head>
  <body>
    <h2> Rooms for Design</h2>
    <nav>
      <a href="/"> <h4> Homepage </h4> </a>
    </nav>
    <div>
      <ul class="room">
          <% for(let i=0; i<rooms.length; i++) { %>
              <li>
                  <h4> Design <a href="/roomsC/<%=rooms[i].id%>/design">  <%=rooms[i].name%> </h4></a> 
                  <img src="<%= rooms[i].img%>" alt="" />
                  
                <form action="/roomsC/<%=rooms[i].id %>?_method=DELETE" method="POST">
                  <input type="submit" value="DELETE"/>
                </form>
                <!-- Add edit link here  -->
                <a href="/roomsC/<%=rooms[i].id %>?_method=DELETE">Delete</a>
                <a href="/roomsC/<%=rooms[i].id %>/edit">Edit</a>
              </li>
          <% } %>
      </ul>
      <br>
      <a href="/"> <h4> Back to Homepage </h4> </a>

      </div>

    </body>
</html>
